@model Mainproject_HealthCare.Models.Prescription

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Prescription</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine1Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medicine1Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine1Dose)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medicine1Dose)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine2Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medicine2Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine2Dose)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medicine2Dose)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine3Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medicine3Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine3Dose)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medicine3Dose)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PrescriptionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
